
<div class="title p-3 is-flex">
  <iconify-icon icon="mdi:weather-partly-cloudy" width="42" height="4" class="mb-4 "></iconify-icon>
  <iconify-icon icon="mdi:cloud" width="44" height="44" style="color:#49a7ff;"></iconify-icon>
  <div class="ml-4">WeatherTop Services inc </div>
</div>

