
{{#each stations}}
  <div class="box box-link-hover-shadow">
    <h2 class="title is-5 mb-2 has-text-weight-bold">
      <a href="/station/{{_id}}" class="station-link">{{name}}</a>
    </h2>
  <a href="/station/{{_id}}" class="button is-small">
    {{>icons/open}}
  </a>
    <a href="/dashboard/deletestation/{{_id}}" class="button is-small">
    {{>icons/delete}}
  </a>

  </div>
{{/each}}

